html
    head
        title="Application using google autorization"
    body(style="display:flex; align-items:center; justify-content:center; flex-direction:column;")
        h2(style="margin:0; text-transform:uppercase;") Welcome to the Login Page! 
        h3 Press the button below to proceed
        a(style="display:block; width:120px; height:25px; line-height:25px; padding: 5px; background:#4E9CAF; text-align:center; text-decoration:none; border-radius:5px; color:white; font-weight:bold; border:2px solid black" href="/auth/google") LOGIN