html
    head
        title="Page you see after logging-in"
    body(style="background-color:lightgreen;display:flex;justify-content:center;align-items:center;")
        h1(style="color:darkred; text-transform:uppercase;border:3px solid darkred; border-radius:5px; padding:10px;") successfully logged